body{
    background-color: burlywood;
}
div{
    background-color: tomato;
    padding: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 400px;
    height: 200px;
    justify-content: center;
    box-shadow: 5px 10px 8px 10px brown;
  

}
h3{
text-align: center;
}
video, audio{
    padding: 50px;
    padding-top: 0;
    border-radius: 5px solid #793232;
}